body {
    height: 100%;

    font-size: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px aquamarine, -1px -1px 1px red, 0px 0px 3px white;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}
ul li{
    list-style-type: none;
}
ul li a{
    text-decoration: none;
    font-size: 1.5em;
}
ul li a:hover{
    color: white;
}
.current{
    color: red;
}
h1 {
    margin: 0px;
    padding: 0px;
}
h2 {
    padding-top:10vh;
    margin: auto;
}
table {
    background-blend-mode: color;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    height: 80vh;
    table-layout: fixed;
    border-collapse: collapse;
    border: 3px solid purple;
    background-color: transparent;
}

.right {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 40vh;
    table-layout: fixed;
    border-collapse: collapse;
    border: 3px solid pink;
}
th, td {
    padding: 2vh 2px 2vh 2%;
}

.avatar-css {
    margin-left:auto; 
    margin-right:auto; 
    width:40vh;
}

.avatar-css img {
    margin-bottom: -5%;
    border: 3px solid purple;
    width: 100%;
    height: auto;
}
table {
    border: 7px purple solid;
}

tfoot {
    width: 100%;
    height: 20vh;
}
tfoot tr{
    width: 100%;
    height: 100%;
}
tfoot tr th{
    width: 100%;
    height: 100%;
}
tfoot tr th iframe{
    width: 98%;
    height: 100%;
} 
.tfoot-css {
    top: 0px;
    background: url(background.gif) repeat;
    background-size: 10%;
}

.background-css {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -2;
    height: 100%;
    width: 100%;
    background: url(koala.jpg) center fixed;
    background-size: cover;
    background-color: transparent;
}
@media screen and (max-width: 700px) {
    .background-css {
        height: 105%;
    }
    tfoot {
        display: none;
    }
    ul li a{
        text-decoration: none;
        font-size: 1em;
    }
}
@media screen and (min-width: 700px) {
    .outer {
        display:inline-flex;
    }
    .right tr {
        width: 100%;
        display: flex;
        align-items: center;
        padding: auto;
    }
    th {
        width: 60%;
        text-align: start;
    }
    td {
        width: 40%;
        text-align: end;
    }
    tr {
        margin-top: 5px;
    }
}
@media screen and (max-height: 450px) {
    tfoot {
        display: none;
    }
    table {
        height: 220px
    }
    .right tr th, td {
        padding: 0;
        padding: 7px;
    }
    .avatar-css {
        width: 180px;
    }
    .right {
        height: 180px;
    }
}
@media screen and (min-height: 450px) {
    table {
        height: 70vh;
    }
    .right {
        height: 40vh;
    }
    .right tr {
        height: 8.5vh;
    }
}
@media screen and (min-height: 850px) {
    @media screen and (max-width: 700px) {
        .avatar-css {
            width: 340px;
        }
    }
}
